<aside class="col-md-3">
    <!--   SIDEBAR   -->
    <ul class="list-group">
        <a class="list-group-item  active" href="{%url 'dashbord'%}">Profil</a>
        <a class="list-group-item" href="{%url 'my_orders'%}">Comenzile mele</a>
        <a class="list-group-item" href="{%url 'forgot-password'%}">Schimba parola</a>
 
    </ul>
    <br>
    <a class="btn btn-light btn-block" href="{%url 'logout'%}"> <i class="fa fa-power-off"></i> <span class="text">Delogare</span> </a> 
    <!--   SIDEBAR .//END   -->
</aside>